/* PostCard.css */
.post-readonly-editor .ql-container.ql-snow {
  border: none !important;
  box-shadow: none !important;
}
.post-readonly-editor .ql-toolbar.ql-snow {
  border: none !important;
  box-shadow: none !important;
}
/* ▶ placeholder 글꼴을 나눔고딕으로, 이탤릭체 해제 */
.post-readonly-editor .ql-editor.ql-blank::before {
  content: attr(data-placeholder);
  font-family: 'Nanum Gothic', sans-serif !important;
  font-style: normal !important;
}

/* ▶ 에디터 본문 영역 기본 폰트 이탤릭 해제 */
.post-readonly-editor .ql-editor {
  font-style: normal !important;
}

.ql-editor:focus.ql-blank::before {
  content: '' !important;
}
